# ==============================================================================
# Terraform
# ==============================================================================
.terraform/
.terraform.lock.hcl
.terraform.tfstate.info
*.tfstate
*.tfstate.backup